<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context.xsd
							http://www.springframework.org/schema/tx
							http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 设定jdbc所使用的properties文件路径 [BEGIN] -->
	<context:property-placeholder location="classpath*:/config/props/jdbc.properties"/>
	<!-- 设定jdbc所使用的properties文件路径 [END] -->
	
	<!-- 采用注解扫描机制，设定注解扫描基础包位置 [BEGIN] -->
	<context:component-scan base-package="cn.ekgc.dkscm">
		<!-- 由于Spring没有处理请求映射的能力，因此对于请求映射注解，不负责扫描的 -->
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>
	<!-- 采用注解扫描机制，设定注解扫描基础包位置 [END] -->
	
	<!-- 配置数据库连接的数据源DataSource信息 [BEGIN] -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<!-- 依赖注入JDBC连接数据库的四个基本信息 -->
		<property name="driverClassName" value="${jdbc.driverClass}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
		<!-- 为了提高数据库连接的效率，配置相应信息 -->
		<property name="minIdle" value="${druid.minIdle}"/>
		<property name="maxActive" value="${druid.maxActive}"/>
		<property name="initialSize" value="${druid.initialSize}"/>
		<property name="minEvictableIdleTimeMillis" value="${druid.minEvictableIdleTimeMillis}"/>
		<property name="maxEvictableIdleTimeMillis" value="${druid.maxEvictableIdleTimeMillis}"/>
	</bean>
	<!-- 配置数据库连接的数据源DataSource信息 [END] -->
	
	<!-- 配置Mybatis的SqlSessionFactory的bean [BEGIN] -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<!-- 设置所有映射文件的位置 -->
		<property name="mapperLocations" value="classpath*:/mapper/*.mapper.xml"/>
		<!-- 设置包的别名 -->
		<property name="typeAliasesPackage" value="cn.ekgc.dkscm.pojo.entity"/>
	</bean>
	<!-- 配置Mybatis的SqlSessionFactory的bean [END] -->
	
	<!-- 配置采用Mybatis的扫描机制，加载Mybatis所对应的的所有数据持久层接口位置 [BEGIN] -->
	<bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"/>
		<!-- 设置数据持久层接口位置 -->
		<property name="basePackage" value="cn.ekgc.dkscm.dao"/>
	</bean>
	<!-- 配置采用Mybatis的扫描机制，加载Mybatis所对应的的所有数据持久层接口位置 [END] -->
	
	<!-- 配置使用Spring所提供的数据库事务处理机制 [BEGIN] -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!-- 配置使用Spring所提供的数据库事务处理机制 [END] -->
	
	<!-- 采用注解的方式来完成数据库的事务处理 [BEGIN] -->
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
	<!-- 采用注解的方式来完成数据库的事务处理 [END] -->
</beans>