<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context.xsd
							http://www.springframework.org/schema/mvc
							http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- 开启Spring MVC的注解扫描机智 [BEGIN] -->
	<mvc:annotation-driven/>
	<!-- 开启Spring MVC的注解扫描机智 [END] -->
	
	<!-- 设定Spring MVC注解扫描基础包位置 [BEGIN] -->
	<context:component-scan base-package="cn.ekgc.dkscm">
		<!-- Spring MVC容器专门负责处理请求映射，因此只需要扫描到和请求映射的注解即可 -->
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
		<!-- 对于系统的事务处理，Spring MVC是没有能力进行的，因此对于@Service来说，不应该扫描到 -->
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
	</context:component-scan>
	<!-- 设定Spring MVC注解扫描基础包位置 [END] -->
	
	<!-- 配置Spring MVC转发视图解析器 [BEGIN] -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 设定转发的时候，需要增加的前后缀 -->
		<property name="prefix" value="/WEB-INF/view/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	<!-- 配置Spring MVC转发视图解析器 [END] -->
	
	<!-- 配置Spring MVC的json视图解析器 [BEGIN] -->
	<bean id="mappingJackson" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<!-- 设定json的编码格式 -->
		<property name="defaultCharset" value="UTF-8"/>
		<!-- 设定转换的http消息头样式 -->
		<property name="supportedMediaTypes">
			<list>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<!-- 配置Spring MVC的json视图解析器 [END] -->
	
	<!-- 过滤所有的静态资源 [BEGIN] -->
	<mvc:default-servlet-handler/>
	<!-- 过滤所有的静态资源 [END] -->
</beans>